{% extends 'admin.html.twig' %}

{% block title %}{{ titre}}{% endblock %}

{% block body %}
<div class="container">
<h1>Liste</h1>
<div class="col-10">
{% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
       
      
            <div class="alert alert-{{type}}" role="alert">
            <i class="fa fa-info-circle"></i>
           &nbsp; {{message}}</div>
        
    {% endfor %}
{% endfor %}
<table class="table table-striped">
    <thead>
    <tr>
    <th>#</th>
    <th>Pseudo</th>
    <th>Prénom</th>
    <th>nom</th>
    <th>email</th>
    <th>roles</th>
    <th colspan=2 >Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for u in users%}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{u.pseudo}}</td>
            <td>{{u.prenom}}</td>
            <td>{{u.nom}}</td>
             <td>{{u.email}}</td>
             <td>{{u.roles|join(', ')}}
             {# {% for r in u.roles%}
             {{r}}
             {% endfor %} #}
             </td>

            <td>
            {# <a href="{{path('app_wish_editer',{id: w.id })}}" class="btn btn-primary"> <i class="fa fa-edit"></i></a> #}
            </td>
            <td>
            {# <a 
            onclick="return confirm('delete {{ w.title }} ?')"
            href="{{path('app_wish_effacer',{id: w.id })}}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
            #} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a class="btn btn-success btn-large mb-5" href="{{path('app_register')}}"> <i class="fa fa-plus" ></i> </a>
</div>
</div>
{% endblock %}
